main {
    display: flex;
    width: 100%;

    @media (max-width: 970px) {
        flex-direction: column;
    }

    .content {
        width: calc(100% - 20rem);

        @media (max-width: 970px) {
            width: 100%;
        }
    }
}

/* #region header */
header {
    width: 100%;
    height: 10dvh;
    background: rgb(225, 130, 21);

    .content {
        height: 10dvh;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20dvw;
            height: 8dvh;
            margin-left: 20px;
        }

        nav {
            width: 4em;
            height: 4em;
            background-image: url("img/Material/Logo/burger-menu-square-light-gray-24661.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
            border-radius: 10px;
        }
    }
}
/* #endregion */

/* #region shopMain */
#shopMain {
    @media (max-width: 970px) {
        width: 100%;
    }

    .content {
        width: 100%;
        height: auto;
        flex-direction: column;

        .title {
            width: 100%;

            .titleImg {
                width: 100%;
                height: 30dvh;
                background-image: url("img/Material/Logo/food-photo-8683717_640.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;

                .titleLogo {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 11em;
                    z-index: 10;
                    background: white;
                    border-radius: 50%;
                }
            }
        }
    }
}
/* #endregion */

/* #region infoHead */
#infoHead {
    @media (max-width: 970px) {
        width: 100%;
    }

    .content {
        width: 100%;
        height: auto;
        flex-direction: column;

        .headLine {
            width: 100%;
            height: 15dvh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            color: black;
            padding-left: 2rem;

            @media (max-width: 620px) {
                height: auto;
                padding-top: 10em;
                padding-left: 0;
                align-items: center;
            }

            .evaluation {
                color: rgb(225, 130, 21);
            }
        }
    }
}
/* #endregion */

/* #region shopNavi*/
#shopNavi {
    @media (max-width: 970px) {
        width: 100%;
        height: 2rem;
    }
}
/* #endregion */

/* #region cartDish */
#cartDish {
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    @media (max-width: 970px) {
        width: 100%;
    }

    .menuItems {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        box-shadow: 1px 2px 2px rgb(138, 138, 138);

        @media (max-width: 950px) {
            width: 100%;
            justify-content: center;
        }

        @media (max-width: 375px) {
            flex-direction: column;
            padding: 0;
        }

        h3 {
            text-align: center;
        }

        .itemsInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media (max-width: 375px) {
                font-size: 14px;
                align-items: center;
            }

            p {
                text-align: center;
            }
        }

        img {
            width: 80px;
            height: 80px;
            margin: 5px;

            @media (max-width: 375px) {
                width: 60px;
                height: 60px;
            }
        }

        button {
            background: white;
            border: none;
            cursor: pointer;

            img {
                width: 60px;
                height: 60px;
            }
        }
    }

    button:hover {
        background: lightgrey;
    }
}
/* #endregion */

/* #region Order */
#orderContainer {
    position: sticky;
    top: 0;
    right: 0;
    width: 20rem;
    height: 60dvh;
    z-index: 10;
    color: black;

    .content {
        width: 20rem;
        height: 90dvh;
        justify-content: center;
        flex-direction: column;

        h2 {
            text-align: center;
            color: white;
            background: rgb(225, 130, 21);
        }

        .orderItems {
            width: 100%;
            height: auto;
        }

        .menuOrder {
            width: 20rem;
            height: 50dvh;
            overflow: auto;

            p {
                text-align: center;
                margin-top: 1rem;
            }

            .cartItem {
                padding: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: 1px 1px 1px rgb(118, 118, 118);

                .cartItemInfo {
                    display: flex;
                    justify-content: space-around;
                }

                .cartItemActions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    button {
                        margin: 10px;
                        width: 50px;
                        height: 25px;
                        border-radius: 5px;
                    }

                    button:hover {
                        background: teal;
                    }
                }
            }
        }

        .summaryRow {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            font-weight: bold;
            padding: 0 15px;
        }

        .button-style {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-top: 10px;
            padding: 1rem;
            background-color: rgb(225, 130, 21);
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
            text-align: center;
        }

        .button-style:hover {
            background-color: rgb(225, 130, 21, 0.6);
            color: black;
        }
    }

    @media (max-width: 970px) {
        display: none;
    }
}

/* #endregion */

/* #region footer */
footer {
    width: 100%;
    background: rgb(225, 130, 21);

    .content {
        width: 80%;
        height: 10dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* #endregion */

/* #region cartBtn */
.cartBtn {
    display: none;
    background: rgb(225, 130, 21);
    height: 3rem;
    margin: 1rem 0;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

    @media (max-width: 970px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        margin: 0;
        padding: 1rem 0;
    }
}
/* #endregion */

/* #region cartContainer */
.d_none {
    display: none;
}
/* #region cartContainer */
#cartContainer {
    background: white;
    color: black;
    width: 100%;
    height: 900dvh;
    position: fixed;
    top: 5rem;
    z-index: 20;

    .content {
        width: 100%;
        height: 50dvh;

        #cartOrder {
            width: 100%;
            padding: 1rem;
            height: 50dvh;
            .shopping-cart-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 1rem;

                h2 {
                    text-align: center;
                }

                a {
                    width: 100%;
                    color: white;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                }

                a:hover {
                    color: black;
                }

                .startBtn {
                    background: rgb(225, 130, 21);
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1em;
                    cursor: pointer;

                    @media(max-width: 450px) {
                        width: 30px;
                        height: 30px;
                        font-size: 10px;
                    }
                }

                .startBtn:hover {
                    background-color: rgb(225, 130, 21, 0.6);
                }
            }

            .orderItems {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
                box-shadow: 1px 1px 2px lightgrey;
            }

            .menuOrder {
                width: 100%;
                height: 50dvh;
                overflow: auto;

                p {
                    text-align: center;
                }

                .cartItem {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 1px 1px 1px rgb(118, 118, 118);

                    .cartItemInfo {
                        display: flex;
                        justify-content: center;
                        gap: 20rem;

                        @media (max-width: 530px) {
                            gap: 10rem;
                        }

                        @media (max-width: 355px) {
                            gap: 5rem;
                        }
                    }

                    .cartItemActions {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;

                        @media (max-width: 530px) {
                            gap: 30px;
                        }

                        @media (max-width: 355px) {
                            gap: 10px;
                        }

                        button {
                            margin: 10px 0;
                            width: 50px;
                            height: 25px;
                            border-radius: 5px;
                        }

                        button:hover {
                            background: teal;
                        }
                    }
                }
            }

            .headBtn {
                width: 100%;
                height: 50px;
            }

            .summaryRow {
                background: white;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                padding: 0 25px;
                margin-top: 0.5em;
            }

            .button-style {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                padding: 1rem;
                background-color: rgb(225, 130, 21);
                color: white;
                text-decoration: none;
                border: none;
                cursor: pointer;
                text-align: center;
                font-size: 16px;
            }

            .button-style:hover {
                background-color: rgb(225, 130, 21, 0.6);
                color: black;
            }
        }
    }
}
/* #endregion */

/* #region messages */
#message {
    display: none;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px rgb(225, 130, 21);
    background: white;
    color: black;
    top: 40px;
    position: absolute;
    z-index: 20;

    .closeButton {
        padding: 0.5rem;
        background-color: rgb(225, 130, 21);
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        text-align: center;
        border-radius: 0.5em;
    }
}

#messageTwo {
    display: none;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px rgb(225, 130, 21);
    background: white;
    color: black;
    z-index: 20;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    .closeButton {
        padding: 0.5rem;
        background-color: rgb(225, 130, 21);
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        text-align: center;
        border-radius: 0.5em;
    }
}
/* #endregion */
